 <!-- partial:partials/_sidebar.html -->
 <nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/getAdminPage">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
   

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#i-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Products</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="i-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/getShowCategory">Category</a></li>
          <li class="nav-item"> <a class="nav-link" href="/getShowSubCategorypage">SubCategory</a></li>
          <li class="nav-item"> <a class="nav-link" href="getshowchildcategory">ChildCategory</a></li>
          <li class="nav-item"> <a class="nav-link" href="/getShowBrand">Brand</a></li>
          <li class="nav-item"> <a class="nav-link" href="/getShowProduct">Product</a></li>
          <li class="nav-item"> <a class="nav-link" href="/showCms">CMS</a></li>
         <li class="nav-item"> <a class="nav-link" href=" /getShowTrendingPage">Trending Product</a></li>

             
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#blog" aria-expanded="false" aria-controls="blog">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Blog</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="blog">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/getShowBlog">Blog</a></li>
          
        </ul>
      </div>
    </li>


    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#Feedback" aria-expanded="false" aria-controls="Feedback">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Feedback</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="Feedback">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/getShowContact">Feedback</a></li>
          
        </ul>
      </div>
    </li>

    
    
    
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">User Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/getloginpage"> Login </a></li>
          <li class="nav-item"> <a class="nav-link" href="/getUserRegistration"> Register </a></li>
        </ul>
      </div>
  
   
    
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#setting" aria-expanded="false" aria-controls="blog">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Setting</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="setting">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/getSettingPage">setting</a></li>
          
        </ul>
      </div>
    </li>
   
      

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#sms" aria-expanded="false" aria-controls="sms">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">SMS</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="sms">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/getFast2sms">SMS</a></li>
          
        </ul>
      </div>
    </li>


    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#home" aria-expanded="false" aria-controls="home">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Home</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="home">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/">Home</a></li>
          
        </ul>
      </div>
    </li>
     
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#policy" aria-expanded="false" aria-controls="policy">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">privacy-policy</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="policy">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/privacy_policy">privacy-policy</a></li>
          
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#Faker" aria-expanded="false" aria-controls="Faker">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Faker</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="Faker">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/faker-list">Faker</a></li>
          <li class="nav-item"> <a class="nav-link" href="/faker-list-2">Faker 2</a></li>
          
        </ul>
      </div>
    </li>
  </ul>
</nav>